.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 200px;
    grid-gap: 30px;
}

* {
    color: white;
}

.grid-el {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-el:hover {
    opacity: 0.8;
    transition-duration: 0.3s;
}