<div class="row justify-content-center">
    <h3 class="text-center">Sign Up</h3>
    <form [formGroup]="registerForm" class="form-group col-4" (ngSubmit)="register()">
        <input type="text" 
            formControlName="userName" 
            class="form-control mt-2" 
            placeholder="Username"
            >

        <input type="password" 
            formControlName="Password" 
            class="form-control mt-2" 
            placeholder="Password">

        <input type="password" 
            formControlName="confirmPassword" 
            class="form-control mt-2" 
            placeholder="Confirm password">

        <button type="submit" 
            class="btn btn-primary mt-2" 
            [disabled]="!registerForm.valid">
            Register</button>
    </form>
</div>