<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">

      <a class="navbar-brand" routerLink="">HelloWorld</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active" *ngIf="accountService.currentUser$ | async">
            <a class="nav-link" routerLink="users">Users</a>
          </li>
          <li class="nav-item" *ngIf="accountService.currentUser$ | async">
            <a class="nav-link" routerLink="collections">Collections</a>
          </li>
          <li class="nav-item" *ngIf="accountService.currentUser$ | async">
            <a class="nav-link" href="#">Dictionary</a>
          </li>
        </ul>
      </div>

      <div *ngIf="(accountService.currentUser$ | async) === null">
        <button type="button" class="btn btn-primary" routerLink="account/login">Sign In</button>
        <button type="button" class="btn btn-secondary" routerLink="account/register">Sign Up</button>
      </div>
      <ng-container *ngIf="(accountService.currentUser$ | async) as user">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            {{user.userName}} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><button class="dropdown-item" routerLink="account/edit">Edit profile</button></li>
            <li role="menuitem"><button class="dropdown-item" (click)="logout()">Log Out</button>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </nav>